receivers:
  otlp:
    protocols:
      http:
        endpoint: 0.0.0.0:4318

processors:
  resource:
    attributes:
      - key: data_stream.dataset
        value: f1_telemetry
        action: upsert
      - key: data_stream.namespace
        value: default
        action: upsert
  transform:
    log_statements:
      - context: log
        statements:
          - merge_maps(attributes, ParseJSON(body), "upsert")
  batch:
    timeout: 50ms
    send_batch_size: 500
    send_batch_max_size: 1000

exporters:
  debug:
    verbosity: basic
  elasticsearch:
    endpoints: ["${env:ELASTIC_ENDPOINT}"]
    api_key: "${env:ELASTIC_API_KEY}"
    mapping:
      mode: otel
    sending_queue:
      enabled: true
      batch:
        flush_timeout: 200ms
        min_size: 0
        max_size: 5000000
        sizer: bytes

service:
  pipelines:
    metrics:
      receivers: [otlp]
      processors: [resource, batch]
      exporters: [elasticsearch]
    logs:
      receivers: [otlp]
      processors: [resource, transform, batch]
      exporters: [elasticsearch]
